<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="test-connection">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Test Connection</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
