<ion-header>
  <ion-toolbar>
    <ion-title> Test Connection </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Auth Connect Config </ion-card-title>
      <ion-card-subtitle
        >The Auth Connect Configuration Tester</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        Status:
        <span class="status" data-testid="auth-status-label">
          {{loggedIn ? "Logged In" : "Logged Out"}}
        </span>
      </ion-label>
      <div class="actions">
        <ion-button
          fill="outline"
          data-testid="auth-button"
          (click)="handleAuth()"
        >
          {{loggedIn ? "Log Out" : "Log In"}}
        </ion-button>
        <ion-button
          [disabled]="!canRefresh"
          data-testid="refresh-button"
          (click)="handleRefresh()"
          >Refresh</ion-button
        >
      </div>
    </ion-card-content>
  </ion-card>

  <!--<ion-card>-->
  <!--  <ion-card-content>-->
  <!--    <iframe-->
  <!--      id="inlineFrameExample"-->
  <!--      title="Inline Frame Example"-->
  <!--      width="300"-->
  <!--      height="200"-->
  <!--      src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&amp;layer=mapnik"-->
  <!--    >-->
  <!--    </iframe>-->
  <!--  </ion-card-content>-->
  <!--</ion-card>-->

  <ion-toast
    [isOpen]="displayAuthFailure"
    message="Authentication failed!!"
    color="danger"
    [duration]="3000"
    position="middle"
    (didDismiss)="displayAuthFailure = false"
  ></ion-toast>

  <ion-toast
    [isOpen]="displayRefreshFailure"
    message="The refresh failed!!"
    color="danger"
    [duration]="3000"
    position="middle"
    (didDismiss)="displayRefreshFailure = false"
  ></ion-toast>

  <ion-toast
    [isOpen]="displayRefreshSuccess"
    message="The refresh was successful!!"
    color="success"
    [duration]="3000"
    position="middle"
    (didDismiss)="displayRefreshSuccess = false"
  ></ion-toast>
</ion-content>
