<ion-header>
  <ion-toolbar>
    <ion-title> Settings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="disableEdits" class="error-message" data-testid="logout-message">
    Please log out first
  </div>

  <ion-list>
    <ion-list-header> Ionic's OIDC Server Options</ion-list-header>
    <ion-item>
      <ion-label>
        <ion-button
          expand="full"
          data-testid="use-azure"
          [disabled]="disableEdits"
          (click)="useAzure()"
          >Use Azure</ion-button
        >
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button
          expand="full"
          data-testid="use-aws"
          [disabled]="disableEdits"
          (click)="useAWS()"
          >Use Cognito</ion-button
        >
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button
          expand="full"
          data-testid="use-auth0"
          [disabled]="disableEdits"
          (click)="useAuth0()"
          >Use Auth0</ion-button
        >
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button
          expand="full"
          data-testid="use-okta"
          [disabled]="disableEdits"
          (click)="useOkta()"
          >Use Okta</ion-button
        >
      </ion-label>
    </ion-item>
    <ion-list-header> Customize </ion-list-header>
    <ion-item>
      <ion-select
        [(ngModel)]="authConfig"
        [disabled]="disableEdits"
        label="Auth Config"
      >
        <ion-select-option *ngFor="let s of oidcServers" [value]="s.key"
          >{{s.value}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input
        [(ngModel)]="clientID"
        [disabled]="disableEdits"
        data-testid="client-id-input"
        labelPlacement="floating"
        label="Client ID"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        [(ngModel)]="discoveryURL"
        [disabled]="disableEdits"
        data-testid="discovery-url-input"
        label="Discovery URL"
        labelPlacement="floating"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        [(ngModel)]="scope"
        [disabled]="disableEdits"
        data-testid="scope-input"
        label="Scope"
        labelPlacement="floating"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        [(ngModel)]="audience"
        [disabled]="disableEdits"
        data-testid="audience-input"
        label="Audience"
        labelPlacement="floating"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select
        [(ngModel)]="webAuthFlow"
        [disabled]="disableEdits"
        label="Web Auth Flow"
      >
        <ion-select-option *ngFor="let s of authFlows" [value]="s.key"
          >{{s.value}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button
          expand="full"
          data-testid="use-customization"
          [disabled]="disableEdits"
          (click)="useCustomization()"
        >
          Use Customization</ion-button
        >
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
